/* src/styles/components/CompanyEDetail.css */

.company-detail-wrap {
  width: 60%;
}

.company-detail {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #333;
}

.company-detail tbody {
}

.company-detail td {
  word-break: break-word;
  padding: 8px 12px;
  border: 1px solid #ddd;
  vertical-align: middle;
  height: 60px;
}

.company-detail tr td:nth-child(odd) {
  background-color: #f4f4f4;
  font-weight: 500;
  color: #777;
  width: 200px;
}

.company-detail tr td:nth-child(even) {
  background-color: #fff;
  font-weight: 500;
}

.company-detail td[colspan="3"] {
  background-color: #fff;
  width: auto;
}

.company-detail tbody tr td > span {
  color: red;
  font-weight: 600;
}
