.company-detail-wrap {
  width: 60%;
}

.company-detail {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
}

.company-detail td {
  border: 1px solid #dcdcdc;
  padding: 10px 12px;
  vertical-align: middle;
  word-break: break-word;
}

.company-detail tr td:nth-child(odd) {
  background-color: #f4f4f4;
  font-weight: 500;
  color: #777;
  /* width: 180px;
  min-width: 120px; */
}

.company-detail tr td:nth-child(even) {
  background-color: #fff;
  /* width: 35%; */
}

.company-detail td[colspan="3"] {
  background-color: #fff;
  width: auto;
}

.company-detail tbody tr td > span {
  color: red;
  font-weight: 600;
}
